body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
}

a {
    color: #222;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

#nav {
    display: flex;
    flex-grow: 0;
    height: 60px;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
}

.nav-left-link {
    padding: 5px;
    margin: 0 5px;
}

.nav-left-link:first-of-type {
    margin-left: 15px;
}

#nav-right {
    flex-grow: 1;
    text-align: right;
    padding: 0 4px;
}

.nav-right-link {
    font-size: 13px;
    padding-left: 15px;;
}

.nav-right-link:last-of-type {
    padding-right: 15px;
}

.nav-right-ctn {
    display: inline-block;
}

#nav-right a {
    color: rgba(0, 0, 0, 0.87);
}

.nav-right-item {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.menu-icon {
    width: 1.5rem;
    fill: #5f6368;
    padding: 8px;
}

.nav-right-avatar a {
    display: inline-block;
    padding: 4px;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#search-form {
    flex-shrink: 0;
    padding: 20px 0;
    width: 100%;
}

.search-ctn {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

.search-input {
    display: flex;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

#footer {
    background-color: #f2f2f2;
    display: flex;
    flex-grow: 0;
}

.footer-ctn {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.footer-link {
    color: #70757a;
    display: inline-block;
    padding: 15px;
}

.footer-center {
    text-align: center;
}

.leaf-icon {
    height: 14px;
    margin-right: 6px;
}

.footer-left {
    min-width: 30%;
    display: flex;
    justify-content: flex-start;
}

.footer-right {
    min-width: 30%;
    display: flex;
    justify-content: flex-end;
}

